<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up - Brocery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/Fab_icon.png') }}">
</head>
<body>
    <body id="signup-body">

        <div class="signup-container">
      
          <div class="logo-image-center">
            <img src="{{ url_for('static', filename='images/brocery_logo.png') }}" alt="Brocery Logo" id="signup-logo">
          </div>
      
          <h2 id="signup-title">Create an Account</h2>
      
          <form method="POST" action="/signup" id="signup-form">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
      
            <label for="account_type">Account Type:</label>
            <select name="account_type" id="account_type" required>
              <option value="Customer">Customer</option>
              <option value="Vendor">Vendor</option>
              <option value="Admin">Admin</option>
            </select>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
      
            <button type="submit" id="signup-button">Login</button>
          </form>
      
          <p class="login-link">I dont have a account? <a href="/signup">Sign Up</a></p>

        </div>
</body>
</html>